services:
  postgres-database:
    image: 'postgres:latest'
    container_name: postgres-database
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
